#gameboard {
    width: 600px;
    height: 600px;
    
    margin: auto;
}

.row {
    width: auto;
    height: 60px;
 
}
.square {
    
    width: 60px;
    height: 60px;
    margin: 0px;
    display: inline-block;
    border: 1px solid green;
    box-sizing: border-box;
    
}

.mainTile {
    width: 58px;
    height: 58px;
}

.character {
    height: 58px;
}