@font-face {
  
    font-family: Crayon;
    src: url("style/font/DK Crayon Crumble.ttf");
  }

#main {
    display: flex;
}



#gameboard {
    width: auto; 
    height: 600px;
    
    margin: auto; 
    
    flex-shrink: 0;
}

#player1, #player2 {
  
    flex-grow: 1;
}

#player1 img, #player2 img {
    width: 250px;
}

#player2 img {
    margin-bottom: 15px;
    width: 260px;
}

.row {
    width: auto;
    height: 60px;
 
}
.square {
    
    width: 60px;
    height: 60px;
    margin: 0px;
    display: inline-block;
    border: 1px solid #F6CD8B;
    box-sizing: border-box;
    
}

.mainTile {
    width: 58px;
    height: 58px;
}

.character {
    height: 58px;
}

#player1, #player2 {
text-align: center;
font-family: Crayon;

font-weight: normal;
font-size: 1.15em;
margin: 15px;
}

#winnerMessage {
    text-align: center;
    font-family: Crayon;
    font-weight: normal;
    font-size: 42px;
    color: #ed6464;
}


#player1 {
    color: rgba(14, 85, 14, 0.897);
  
}

#player2 {
    color: rgba(240, 70, 3, 0.918);
}

#fruitsConfidenceLevel, #veggieConfidenceLevel {
    color: rgb(7, 123, 255);
}

h1{
    font-size: 32px;
    font-weight: bold;
}

h2, h3 {
    font-weight: normal;
}

h3 {
    font-size: 1.3em;
}

#veggieBtnDiv {
    text-align: right;
    margin-right: 30px;
    padding-top: 30px;
}

#fruitBtnDiv {
    text-align: left;
    margin-left: 60px;
    padding-top: 30px;
}

.btn, .btn:hover  {
    border: medium none !important;
    width: 100px;
    height: 40px;
    color: transparent;
    cursor: pointer;
}

.btn:focus {
    outline:0;
}

#veggieAttackBtn, #fruitAttackBtn {
        background: url('img/scare_btn.png') 0 0 transparent;
        background-size: 100px;
        background-repeat: no-repeat;
}

#veggieAttackBtn:hover, #fruitAttackBtn:hover {
    background: url("img/scare_btn_hover.png") 0 0 transparent;
    background-size: 100px;
    background-repeat: no-repeat;
  
}

#veggieAttackBtn:focus, #fruitAttackBtn:focus {
    background: url("img/scare_btn_pressed.png") 0 0 transparent;
    background-size: 100px;
    background-repeat: no-repeat;
  
}

#veggieDefendBtn, #fruitDefendBtn {
    background: url('img/hide_btn.png') 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100px;
}

#veggieDefendBtn:hover, #fruitDefendBtn:hover {
    background: url('img/hide_btn_hover.png') 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100px;
}

#veggieDefendBtn:focus, #fruitDefendBtn:focus {
    background: url('img/hide_btn_pressed.png') 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 100px;
}

#playAgain {
    background: url('img/play_again_btn.png') 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 150px;
    width: 150px;
    height: 60px;
   
}

#playAgain:hover {
    background: url('img/play_again_btn_hover.png') 0 0 transparent;
    background-repeat: no-repeat;
    background-size: 150px;
}

#playAgain:focus {
    background: url('img/play_again_btn_pressed.png') 0 0 transparent;
      background-repeat: no-repeat;
    background-size: 150px;

}

/*
 * Shake animation
*/
@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}
.shake {
    -webkit-animation-name: shake;
    animation-name: shake;
    animation-duration: 1s; 
}

.grow {
    transform: scale(1.15);
}

#veggieAttackBtn, #veggieDefendBtn {
    margin-right: 10px;
}

#fruitAttackBtn, #fruitDefendBtn {
    margin-right: 10px;
}

#winnerImgDiv {
   
    text-align: center;
    background-image: url('img/fireworks.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 70% 20%;
}

#playAgainDiv {
   
    text-align: center;
}

/* h1:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  h1:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  } */